body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

img {
	max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgrey;
  color: #ffff;
  padding: 10px 20px;
}

.logo img {
	width: 500px;
}

.menu ul {
	list-style: none;
	display: flex;
	padding: 0 10px;	
}

.menu ul li {
	margin-right: 20px;
}

.menu ul li a {
	text-decoration: none;
	color: #ffff;
	transition: color 0.5s
}

.menu ul li a:hover {
	color: rgb(11, 27, 21);
	transition: color 0.5s;
}

.mobile-menu-icon {
	display:none;
	font-size: 20px;
}

.products {
	max-width: 1200px;
	margin: 10px auto;
	display:flex;
	justify-content: center;
}

.carousel-general-container {
	display:flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	padding: 25px;
	height: fit-content;
	border-radius: 20px;
}

.product {
	display: flex;
}

.carousel-container {
	overflow: hidden;
	width: 300px;
}

.carousel {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-item {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-basis: 100%;
	align-items: center;
	justify-content: center;
}

.carousel-item ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.carousel-item button {
	background-color: #f4f4f4;
	border: 2px solid #0e5a0bd0;
	border-radius: 10px;
	padding: 5px;
	color: rgb(7, 1, 7);
	cursor: pointer;
	transition: background-color 0.5s, color 0.5s;
}

.carousel-item button:hover {
	background-color: #0e5a0bd0;
	color: #f4f4f4;
}

.carousel-btn {
	font-size: 24px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

footer {
	position: fixed;
	bottom: 0;	
	width: 100%;
	display: flex;	
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	padding: 5px 10px;
	box-sizing: border-box;
	color: #ffffff
}

footer .social-icon {
	display:flex;
	gap: 10px;
}

footer a{
	color:#ffffff;
	text-decoration: none;
	transition: color 0.5s;
}

footer a:hover {
	color: #7fbd97
}

@media screen and (max-width: 768px){
	.menu {
		display: none;
	}

	.mobile-menu-icon {
		display: block;
	}

	.mobile-menu-open {
		display: block;
		position: absolute;
		top: 50px;
		right: 20px;
		background-color:  #333333bb;
		padding: 10px;
		border-radius: 5px;
		z-index:2;
	}

	.mobile-menu-open ul {
		flex-direction: column;		
	}

	.mobile-menu-open li {
		margin-bottom: 10px;
	}

	.mobile-menu-open a {
		color:#ffffff
	}

	.carousel-general-container {
		width: 85%;
	}

	footer {
		flex-direction: column;
		padding-top: 20px
	}
}